<h2>Dear office of {{ citizen_name }}</h2>
<p>There will be court hearing on your monitored case on {{ hearing_schedule }} with further details below</p>
<p>Court Hearing Type: <b> {{ hearing_type }}</b></p>
<p>Case No: <b> {{ case_no }}</b></p>
<p>Case Title: <b> {{ case_title }}</b></p>
<p>Raffled Court: <b> {{ raffled_court }}</b></p>
<p>Judge Assigned: <b> {{ judge_assigned }}</b></p>
<p>Start Time: <b> {{ start_time }}</b></p>
<p>End Time: <b> {{ end_time }}</b></p>
<p>Login to your <b> DIMTS </b> mobile app for more info

<p>If you are not affiliated this email you can safely ignore it.</p>