<h2>Dear office of {{ recieving_office }}</h2>
<p>This is a notification email for the document sended by <b> {{ sending_office }} </b> office has been delivered to you successfully with further details below</p>
<p>Document Type: <b> {{ document_type }}</b></p>
<p>Control No: <b> {{ control_no }}</b></p>
<p>Case No: <b> {{ case_no }}</b></p>
<p>Case Title: <b> {{ case_title }}</b></p>
<p>Sender: <b> {{ sender }}</b></p>
<p>Reciever: <b> {{ reciever }}</b></p>
<p>Address: <b> {{ address }}</b></p>
<p>Please respond and acknowledge this document into your <b> DIMTS </b> account</p>

<p>If you are not affiliated this email or the document is already acknowledge you can safely ignore it.</p>